

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 60px;
}

.titre h2, .titre hr {
    text-align: right;
    margin-right: 2rem;
    margin-top: 4px;
}

.color {
    color: #7F5226;
}

.titre {
    text-align: right;
    margin-right: 2rem;
    margin-top: 2rem;
}

.hr {
    margin-right: 2rem;
    margin-bottom: 0rem;
    color: inherit;
    border: 4rem;
    border-top: solid;
    opacity: 80;
}

.titre .hr {
    float: right;
    color: #333;
    height: 3px;
    width: 20rem;
    margin-top: 0rem;
}

.custom-column {
    margin: 2rem;
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
}

.card-date {
    font-size: 0.8rem;
    color: #888;
}

.like-com-articles {
    font-size: 0.9rem;
    color: #555;
}

@media (max-width: 767px) {
    .titre .hr {
        width: 100%;
    }
}

.custom-column.row-cols-1.row-cols-md-2.g-4.margin-tb-80 {
    padding: 0 10px;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0;
}

.card-title a{
    text-decoration: none !important;
}

a{
    text-decoration: none !important;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: none;
    color: #333;
}

.card-text2 {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    
}

.custom-row-66 {
    margin: 66px 0;
}

.margin-top-100 {
    margin-top: 100px;
}

.col-6 {
    width: 50%;
    padding: 0 10px;
}

hr {
    margin-right: 2rem;
    margin-bottom: 0rem;
    color: inherit;
    border: 4rem;
    border-top: solid;
    opacity: 80;
}

.titre hr {
    float: right;
    color: #333;
    height: 3px;
    width: 20rem;
    margin-top: 0rem;
}

@media (max-width: 767px) {
    .titre hr {
        width: 100%; 
    }
    
}

.footer-custom {
    margin: 80px -60px 0 -60px;
    padding: 0 70px;
    background-color: #5A3A31;
    color: #FAFAFA;
}

.footer-custom ul li a{
    color: #FAFAFA;
}

.footer-custom ul li a:hover{
    color: #7F7F7F;
}

.img-footer{
    margin-bottom: 36px;
}

.hearth  {
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-info {
    display: flex;
    
    justify-content: space-arrond; 
    align-items: center;
    margin-bottom: 10px;
}

.article-info .like {
    padding-right: 1rem;
}

.titre {
    text-align: left;
    margin-bottom: 20px;
}

.para1, .para2, .para3, .para_img {
    margin-bottom: 20px;
}

.para_img img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.para1, .para2, .para3, .para_img {
    width: 100%; 
}

.para_img {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.para_img img {
    max-width: 48%; 
}

.commentaires {
    margin-top: 40px;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-form label,
.comment-form input,
.comment-form textarea,
.comment-form button {
    display: block;
    margin-bottom: 7px;

}

.textarea{
    color: grey;
}

.comment-list {
    list-style-type: none;
    padding: 0;
}

.comment-list li {
    border: 10px solid #CEC4C2;
    background-color: #CEC4C2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 48%;
}

.comment-list li strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-btn {
    background-color: #5A3A31;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-btn:hover {
    background-color: #000;
}

.name-fields {
    display: flex;
}

.name-field {
    padding-right: 3rem;
}

button {
background: #fff;
border: unset;
outline: 0;
font-size: 18px;
cursor: pointer;
color: #65676b;
padding: 5px 10px;
}

button.liked {
color: #0571ed;
}

button.liked i{
animation: anim 0.5s ease-in-out;
-webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    }
}

@media only screen and (max-width: 600px) {
    .para_img {
        flex-direction: column-reverse; 
    }

    .para_img img {
        max-width: 100%; 
        margin: 0; 
    }

    .para_img p {
        margin-top: 20px; 
    }
}