

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 60px;
}

.titre h2, .titre hr {
    text-align: right;
    margin-right: 2rem;
    margin-top: 4px;
}

.color {
    color: #7F5226;
}

.titre {
    text-align: right;
    margin-right: 2rem;
    margin-top: 2rem;
}

.hr {
    margin-right: 2rem;
    margin-bottom: 0rem;
    color: inherit;
    border: 4rem;
    border-top: solid;
    opacity: 80;
}

.titre .hr {
    float: right;
    color: #333;
    height: 3px;
    width: 20rem;
    margin-top: 0rem;
}

.custom-column {
    margin: 2rem;
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
}

.card-date {
    font-size: 0.8rem;
    color: #888;
}

.like-com-articles {
    font-size: 0.9rem;
    color: #555;
}

@media (max-width: 767px) {
    .titre .hr {
        width: 100%;
    }
}

/* Additional styles for specific pages */

/* Styles for the first page */
.custom-column.row-cols-1.row-cols-md-2.g-4.margin-tb-80 {
    padding: 0 10px;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0;
}

.card-text2 {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: red;
}

.custom-row-66 {
    margin: 66px 0;
}

.margin-top-100 {
    margin-top: 100px;
}

/* Styles for the second and third pages */
.col-6 {
    width: 50%;
    padding: 0 10px;
}

hr {
    margin-right: 2rem;
    margin-bottom: 0rem;
    color: inherit;
    border: 4rem;
    border-top: solid;
    opacity: 80;
}

.titre hr {
    float: right;
    color: #333;
    height: 3px;
    width: 20rem;
    margin-top: 0rem;
}

@media (max-width: 767px) {
    .titre hr {
        width: 100%; 
    }
    
}

.footer-custom {
    margin: 80px -60px 0 -60px;
    padding: 0 70px;
    background-color: #5A3A31;
    color: #FAFAFA;
}

.footer-custom ul li a{
    color: #FAFAFA;
}

.footer-custom ul li a:hover{
    color: #7F7F7F;
}

.img-footer{
    margin-bottom: 36px;
}

